<p>Use this simple app to know how the weather is like in your location.</p>

<form style="margin-bottom: 30px" role="search">
    <div style="margin-bottom: 15px;">
        <input type="text" name="search" placeholder="Lagos, Nigeria" class="input-field" autofocus required>
        <span class="input-help hide"></span>
    </div>

    <button type="submit">Search</button>
</form>

<div class="weather-results hide">
    <strong>Location: <span id="location" style="font-style: italic;"></span></strong>
    <p id="weather-summary"></p>
</div>
